add targets chrome://AdBlock~AdBlock~AdBlock~~~
add targets chrome://Adobe Acrobat~Adobe Acrobat~Adobe Acrobat~~~
add targets chrome://Aero Trans Brushed Metal Theme~Aero Trans Brushed Metal Theme~Aero Trans Brushed Metal Theme~~~
add targets chrome://Alexa Traffic Rank~Alexa Traffic Rank~Alexa Traffic Rank~~~
add targets chrome://Amazon Assistant for Chrome~Amazon Assistant for Chrome~Amazon Assistant for Chrome~~~
add targets chrome://ARC cookie exchange~ARC cookie exchange~ARC cookie exchange~~~
add targets chrome://Archiveror~Archiveror~Archiveror~~~
add targets chrome://Audio EQ~Audio EQ~Audio EQ~~~
add targets chrome://Auto Copy~Auto Copy~Auto Copy~~~
add targets chrome://Auto Refresh~Auto Refresh~Auto Refresh~~~
add targets chrome://Auto Refresh Plus~Auto Refresh Plus~Auto Refresh Plus~~~
add targets chrome://AutoPagerize~AutoPagerize~AutoPagerize~~~
add targets chrome://award.flights AwardFinder~award.flights AwardFinder~award.flights AwardFinder~~~
add targets chrome://Awesome Cookie Manager~Awesome Cookie Manager~Awesome Cookie Manager~~~
add targets chrome://Awesome Screenshot: Screen Video Recorder~Awesome Screenshot: Screen Video Recorder~Awesome Screenshot: Screen Video Recorder~~~
add targets chrome://Better FPL~Better FPL~Better FPL~~~
add targets chrome://Bitly | Unleash the power of the link~Bitly | Unleash the power of the link~Bitly | Unleash the power of the link~~~
add targets chrome://Bookmarks Menu~Bookmarks Menu~Bookmarks Menu~~~
add targets chrome://BrowserStack~BrowserStack~BrowserStack~~~
add targets chrome://Browserstack Loader~Browserstack Loader~Browserstack Loader~~~
add targets chrome://BrowserStack Local~BrowserStack Local~BrowserStack Local~~~
add targets chrome://BuiltWith Technology Profiler~BuiltWith Technology Profiler~BuiltWith Technology Profiler~~~
add targets chrome://Care your Eyes~Care your Eyes~Care your Eyes~~~
add targets chrome://Check My Links~Check My Links~Check My Links~~~
add targets chrome://Chrome Remote Desktop~Chrome Remote Desktop~Chrome Remote Desktop~~~
add targets chrome://ChromeADB~ChromeADB~ChromeADB~~~
add targets chrome://Cisco Webex Content Sharing~Cisco Webex Content Sharing~Cisco Webex Content Sharing~~~
add targets chrome://Clear Cache Shortcut~Clear Cache Shortcut~Clear Cache Shortcut~~~
add targets chrome://Clear Session~Clear Session~Clear Session~~~
add targets chrome://Click&Clean App~Click&Clean App~Click&Clean App~~~
add targets chrome://ClickOnce for Google Chrome~ClickOnce for Google Chrome~ClickOnce for Google Chrome~~~
add targets chrome://Clipchamp - convert, compress, record video~Clipchamp - convert, compress, record video~Clipchamp - convert, compress, record video~~~
add targets chrome://Cloud Caster - cloud based podcast player~Cloud Caster - cloud based podcast player~Cloud Caster - cloud based podcast player~~~
add targets chrome://ColorPick Eyedropper~ColorPick Eyedropper~ColorPick Eyedropper~~~
add targets chrome://ColorZilla~ColorZilla~ColorZilla~~~
add targets chrome://Context Bookmarks~Context Bookmarks~Context Bookmarks~~~
add targets chrome://Context Menu Bookmarks~Context Menu Bookmarks~Context Menu Bookmarks~~~
add targets chrome://Cookie Inspector~Cookie Inspector~Cookie Inspector~~~
add targets chrome://Copy Me That~Copy Me That~Copy Me That~~~
add targets chrome://CrossBrowserTesting Local Connection~CrossBrowserTesting Local Connection~CrossBrowserTesting Local Connection~~~
add targets chrome://Crystal~Crystal~Crystal~~~
add targets chrome://CSS Reloader~CSS Reloader~CSS Reloader~~~
add targets chrome://CSSViewer~CSSViewer~CSSViewer~~~
add targets chrome://Cyber-Ark Clipboard Extension~Cyber-Ark Clipboard Extension~Cyber-Ark Clipboard Extension~~~
add targets chrome://Dark Reader~Dark Reader~Dark Reader~~~
add targets chrome://Dark Theme v3~Dark Theme v3~Dark Theme v3~~~
add targets chrome://Dark Vibe~Dark Vibe~Dark Vibe~~~
add targets chrome://Data Scraper - Easy Web Scraping~Data Scraper - Easy Web Scraping~Data Scraper - Easy Web Scraping~~~
add targets chrome://DeadMouse~DeadMouse~DeadMouse~~~
add targets chrome://DejaVue~DejaVue~DejaVue~~~
add targets chrome://DevTools Author~DevTools Author~DevTools Author~~~
add targets chrome://DevTools Theme: Zero Dark Matrix~DevTools Theme: Zero Dark Matrix~DevTools Theme: Zero Dark Matrix~~~
add targets chrome://Dimensions~Dimensions~Dimensions~~~
add targets chrome://Easil~Easil~Easil~~~
add targets chrome://Easy Auto Refresh~Easy Auto Refresh~Easy Auto Refresh~~~
add targets chrome://Ecosia - The search engine that plants trees~Ecosia - The search engine that plants trees~Ecosia - The search engine that plants trees~~~
add targets chrome://AdBlock~AdBlock~AdBlock~~~
add targets chrome://Adobe Acrobat~Adobe Acrobat~Adobe Acrobat~~~
add targets chrome://Aero Trans Brushed Metal Theme~Aero Trans Brushed Metal Theme~Aero Trans Brushed Metal Theme~~~
add targets chrome://Alexa Traffic Rank~Alexa Traffic Rank~Alexa Traffic Rank~~~
add targets chrome://Amazon Assistant for Chrome~Amazon Assistant for Chrome~Amazon Assistant for Chrome~~~
add targets chrome://ARC cookie exchange~ARC cookie exchange~ARC cookie exchange~~~
add targets chrome://Archiveror~Archiveror~Archiveror~~~
add targets chrome://Audio EQ~Audio EQ~Audio EQ~~~
add targets chrome://Auto Copy~Auto Copy~Auto Copy~~~
add targets chrome://Auto Refresh~Auto Refresh~Auto Refresh~~~
add targets chrome://Auto Refresh Plus~Auto Refresh Plus~Auto Refresh Plus~~~
add targets chrome://AutoPagerize~AutoPagerize~AutoPagerize~~~
add targets chrome://award.flights AwardFinder~award.flights AwardFinder~award.flights AwardFinder~~~
add targets chrome://Awesome Cookie Manager~Awesome Cookie Manager~Awesome Cookie Manager~~~
add targets chrome://Awesome Screenshot: Screen Video Recorder~Awesome Screenshot: Screen Video Recorder~Awesome Screenshot: Screen Video Recorder~~~
add targets chrome://Better FPL~Better FPL~Better FPL~~~
add targets chrome://Bitly | Unleash the power of the link~Bitly | Unleash the power of the link~Bitly | Unleash the power of the link~~~
add targets chrome://Bookmarks Menu~Bookmarks Menu~Bookmarks Menu~~~
add targets chrome://BrowserStack~BrowserStack~BrowserStack~~~
add targets chrome://Browserstack Loader~Browserstack Loader~Browserstack Loader~~~
add targets chrome://BrowserStack Local~BrowserStack Local~BrowserStack Local~~~
add targets chrome://BuiltWith Technology Profiler~BuiltWith Technology Profiler~BuiltWith Technology Profiler~~~
add targets chrome://Care your Eyes~Care your Eyes~Care your Eyes~~~
add targets chrome://Check My Links~Check My Links~Check My Links~~~
add targets chrome://Chrome Remote Desktop~Chrome Remote Desktop~Chrome Remote Desktop~~~
add targets chrome://ChromeADB~ChromeADB~ChromeADB~~~
add targets chrome://Cisco Webex Content Sharing~Cisco Webex Content Sharing~Cisco Webex Content Sharing~~~
add targets chrome://Clear Cache Shortcut~Clear Cache Shortcut~Clear Cache Shortcut~~~
add targets chrome://Clear Session~Clear Session~Clear Session~~~
add targets chrome://Click&Clean App~Click&Clean App~Click&Clean App~~~
add targets chrome://ClickOnce for Google Chrome~ClickOnce for Google Chrome~ClickOnce for Google Chrome~~~
add targets chrome://Clipchamp - convert, compress, record video~Clipchamp - convert, compress, record video~Clipchamp - convert, compress, record video~~~
add targets chrome://Cloud Caster - cloud based podcast player~Cloud Caster - cloud based podcast player~Cloud Caster - cloud based podcast player~~~
add targets chrome://ColorPick Eyedropper~ColorPick Eyedropper~ColorPick Eyedropper~~~
add targets chrome://ColorZilla~ColorZilla~ColorZilla~~~
add targets chrome://Context Bookmarks~Context Bookmarks~Context Bookmarks~~~
add targets chrome://Context Menu Bookmarks~Context Menu Bookmarks~Context Menu Bookmarks~~~
add targets chrome://Cookie Inspector~Cookie Inspector~Cookie Inspector~~~
add targets chrome://Copy Me That~Copy Me That~Copy Me That~~~
add targets chrome://CrossBrowserTesting Local Connection~CrossBrowserTesting Local Connection~CrossBrowserTesting Local Connection~~~
add targets chrome://Crystal~Crystal~Crystal~~~
add targets chrome://CSS Reloader~CSS Reloader~CSS Reloader~~~
add targets chrome://CSSViewer~CSSViewer~CSSViewer~~~
add targets chrome://Cyber-Ark Clipboard Extension~Cyber-Ark Clipboard Extension~Cyber-Ark Clipboard Extension~~~
add targets chrome://Dark Reader~Dark Reader~Dark Reader~~~
add targets chrome://Dark Theme v3~Dark Theme v3~Dark Theme v3~~~
add targets chrome://Dark Vibe~Dark Vibe~Dark Vibe~~~
add targets chrome://Data Scraper - Easy Web Scraping~Data Scraper - Easy Web Scraping~Data Scraper - Easy Web Scraping~~~
add targets chrome://DeadMouse~DeadMouse~DeadMouse~~~
add targets chrome://DejaVue~DejaVue~DejaVue~~~
add targets chrome://DevTools Author~DevTools Author~DevTools Author~~~
add targets chrome://DevTools Theme: Zero Dark Matrix~DevTools Theme: Zero Dark Matrix~DevTools Theme: Zero Dark Matrix~~~
add targets chrome://Dimensions~Dimensions~Dimensions~~~
add targets chrome://DuckDuckGo Privacy Essentials~DuckDuckGo Privacy Essentials~DuckDuckGo Privacy Essentials~~~
add targets chrome://Easil~Easil~Easil~~~
add targets chrome://Easy Auto Refresh~Easy Auto Refresh~Easy Auto Refresh~~~
add targets chrome://Ecosia - The search engine that plants trees~Ecosia - The search engine that plants trees~Ecosia - The search engine that plants trees~~~
add targets chrome://EditThisCookie~EditThisCookie~EditThisCookie~~~
add targets chrome://ElasticSearch Head~ElasticSearch Head~ElasticSearch Head~~~
add targets chrome://Email Extractor~Email Extractor~Email Extractor~~~
add targets chrome://Encoder / Decoder~Encoder / Decoder~Encoder / Decoder~~~
add targets chrome://ESPNCricinfo~ESPNCricinfo~ESPNCricinfo~~~
add targets chrome://EverSync - Sync bookmarks, backup favorites~EverSync - Sync bookmarks, backup favorites~EverSync - Sync bookmarks, backup favorites~~~
add targets chrome://Extensity~Extensity~Extensity~~~
add targets chrome://Eye Dropper~Eye Dropper~Eye Dropper~~~
add targets chrome://FATRANK - Keyword Rank Checker~FATRANK - Keyword Rank Checker~FATRANK - Keyword Rank Checker~~~
add targets chrome://Firebug Lite for Google Chrome~Firebug Lite for Google Chrome~Firebug Lite for Google Chrome~~~
add targets chrome://Fix My Inputs~Fix My Inputs~Fix My Inputs~~~
add targets chrome://Flash Control~Flash Control~Flash Control~~~
add targets chrome://Flashcontrol~Flashcontrol~Flashcontrol~~~
add targets chrome://Full Page Screen Capture~Full Page Screen Capture~Full Page Screen Capture~~~
add targets chrome://FUTBIN~FUTBIN~FUTBIN~~~
add targets chrome://Go Back With Backspace~Go Back With Backspace~Go Back With Backspace~~~
add targets chrome://Google Calendar~Google Calendar~Google Calendar~~~
add targets chrome://Google Dictionary (by Google)~Google Dictionary (by Google)~Google Dictionary (by Google)~~~
add targets chrome://Google Hangouts~Google Hangouts~Google Hangouts~~~
add targets chrome://Google Input Tools~Google Input Tools~Google Input Tools~~~
add targets chrome://Google Keep - notes and lists~Google Keep - notes and lists~Google Keep - notes and lists~~~
add targets chrome://Google Keep Chrome Extension~Google Keep Chrome Extension~Google Keep Chrome Extension~~~
add targets chrome://Google PageSpeed Insights Extension~Google PageSpeed Insights Extension~Google PageSpeed Insights Extension~~~
add targets chrome://Grammarly for Chrome~Grammarly for Chrome~Grammarly for Chrome~~~
add targets chrome://greybeard devtools theme~greybeard devtools theme~greybeard devtools theme~~~
add targets chrome://Grid Ruler~Grid Ruler~Grid Ruler~~~
add targets chrome://Header-Editor~Header-Editor~Header-Editor~~~
add targets chrome://HIRETUAL - 10x faster talent sourcing~HIRETUAL - 10x faster talent sourcing~HIRETUAL - 10x faster talent sourcing~~~
add targets chrome://History Eraser~History Eraser~History Eraser~~~
add targets chrome://History Eraser App~History Eraser App~History Eraser App~~~
add targets chrome://Honey~Honey~Honey~~~
add targets chrome://HTML Validator~HTML Validator~HTML Validator~~~
add targets chrome://HTML5 Outliner~HTML5 Outliner~HTML5 Outliner~~~
add targets chrome://HTTP Archive Viewer~HTTP Archive Viewer~HTTP Archive Viewer~~~
add targets chrome://HTTPS Everywhere~HTTPS Everywhere~HTTPS Everywhere~~~
add targets chrome://IE Tab~IE Tab~IE Tab~~~
add targets chrome://iMacros for Chrome~iMacros for Chrome~iMacros for Chrome~~~
add targets chrome://Imagus~Imagus~Imagus~~~
add targets chrome://imo free video calls and text~imo free video calls and text~imo free video calls and text~~~
add targets chrome://Insert Snippet~Insert Snippet~Insert Snippet~~~
add targets chrome://Instapaper~Instapaper~Instapaper~~~
add targets chrome://Intelligence Search~Intelligence Search~Intelligence Search~~~
add targets chrome://Intelligent Search Assistant~Intelligent Search Assistant~Intelligent Search Assistant~~~
add targets chrome://IP Address~IP Address~IP Address~~~
add targets chrome://IP Address and Domain Information~IP Address and Domain Information~IP Address and Domain Information~~~
add targets chrome://JSON Viewer Awesome~JSON Viewer Awesome~JSON Viewer Awesome~~~
add targets chrome://JSONView~JSONView~JSONView~~~
add targets chrome://Just Read~Just Read~Just Read~~~
add targets chrome://Keepa - Amazon Price Tracker~Keepa - Amazon Price Tracker~Keepa - Amazon Price Tracker~~~
add targets chrome://Kingsquare HTML Validator~Kingsquare HTML Validator~Kingsquare HTML Validator~~~
add targets chrome://LastPass: Free Password Manager~LastPass: Free Password Manager~LastPass: Free Password Manager~~~
add targets chrome://Layout Manager~Layout Manager~Layout Manager~~~
add targets chrome://Lighthouse~Lighthouse~Lighthouse~~~
add targets chrome://Lightshot (screenshot tool)~Lightshot (screenshot tool)~Lightshot (screenshot tool)~~~
add targets chrome://Linkclump~Linkclump~Linkclump~~~
add targets chrome://LiveReload~LiveReload~LiveReload~~~
add targets chrome://Location Guard~Location Guard~Location Guard~~~
add targets chrome://Lone Tree~Lone Tree~Lone Tree~~~
add targets chrome://Look-alike~Look-alike~Look-alike~~~
add targets chrome://Lucidchart Diagrams - Desktop~Lucidchart Diagrams - Desktop~Lucidchart Diagrams - Desktop~~~
add targets chrome://Material Pink~Material Pink~Material Pink~~~
add targets chrome://Material Simple Dark Grey~Material Simple Dark Grey~Material Simple Dark Grey~~~
add targets chrome://MindMup 2.0 - Free Mind Map web site~MindMup 2.0 - Free Mind Map web site~MindMup 2.0 - Free Mind Map web site~~~
add targets chrome://Minimalist Markdown Editor~Minimalist Markdown Editor~Minimalist Markdown Editor~~~
add targets chrome://mobile browser emulator~mobile browser emulator~mobile browser emulator~~~
add targets chrome://ModHeader~ModHeader~ModHeader~~~
add targets chrome://Momentum~Momentum~Momentum~~~
add targets chrome://MultiHighlighter~MultiHighlighter~MultiHighlighter~~~
add targets chrome://mysms - SMS from Computer~mysms - SMS from Computer~mysms - SMS from Computer~~~
add targets chrome://mysms - SMS/Text from Computer~mysms - SMS/Text from Computer~mysms - SMS/Text from Computer~~~
add targets chrome://New Tab Redirect~New Tab Redirect~New Tab Redirect~~~
add targets chrome://Nimbus Screenshot & Screen Video Recorder~Nimbus Screenshot & Screen Video Recorder~Nimbus Screenshot & Screen Video Recorder~~~
add targets chrome://Note.ly - Online Sticky Notes~Note.ly - Online Sticky Notes~Note.ly - Online Sticky Notes~~~
add targets chrome://Notepad~Notepad~Notepad~~~
add targets chrome://Numerics Calculator & Converter~Numerics Calculator & Converter~Numerics Calculator & Converter~~~
add targets chrome://Octotree~Octotree~Octotree~~~
add targets chrome://OneTab~OneTab~OneTab~~~
add targets chrome://Page load time~Page load time~Page load time~~~
add targets chrome://Page Monitor~Page Monitor~Page Monitor~~~
add targets chrome://Page Refresh~Page Refresh~Page Refresh~~~
add targets chrome://Page Ruler~Page Ruler~Page Ruler~~~
add targets chrome://People Search - email and resume finder~People Search - email and resume finder~People Search - email and resume finder~~~
add targets chrome://Pesticide for Chrome~Pesticide for Chrome~Pesticide for Chrome~~~
add targets chrome://Postman Interceptor~Postman Interceptor~Postman Interceptor~~~
add targets chrome://PrettyPrint~PrettyPrint~PrettyPrint~~~
add targets chrome://Print Friendly & PDF~Print Friendly & PDF~Print Friendly & PDF~~~
add targets chrome://Privacy Badger~Privacy Badger~Privacy Badger~~~
add targets chrome://Project Viewer 365-Free~Project Viewer 365-Free~Project Viewer 365-Free~~~
add targets chrome://Projects for Trello~Projects for Trello~Projects for Trello~~~
add targets chrome://ProKeys~ProKeys~ProKeys~~~
add targets chrome://Prophet~Prophet~Prophet~~~
add targets chrome://Proxy SwitchyOmega~Proxy SwitchyOmega~Proxy SwitchyOmega~~~
add targets chrome://Proxy SwitchySharp~Proxy SwitchySharp~Proxy SwitchySharp~~~
add targets chrome://Pushbullet~Pushbullet~Pushbullet~~~
add targets chrome://Python Fiddle~Python Fiddle~Python Fiddle~~~
add targets chrome://qSnap: Screen Capture, Screenshot, Annotation~qSnap: Screen Capture, Screenshot, Annotation~qSnap: Screen Capture, Screenshot, Annotation~~~
add targets chrome://qTest Explorer Extension~qTest Explorer Extension~qTest Explorer Extension~~~
add targets chrome://qTest Integration~qTest Integration~qTest Integration~~~
add targets chrome://qTest Web Explorer~qTest Web Explorer~qTest Web Explorer~~~
add targets chrome://Quick source viewer~Quick source viewer~Quick source viewer~~~
add targets chrome://React Developer Tools~React Developer Tools~React Developer Tools~~~
add targets chrome://Reader View~Reader View~Reader View~~~
add targets chrome://Reddit Enhancement Suite~Reddit Enhancement Suite~Reddit Enhancement Suite~~~
add targets chrome://Redirect Path~Redirect Path~Redirect Path~~~
add targets chrome://Relative XPath Helper~Relative XPath Helper~Relative XPath Helper~~~
add targets chrome://Reload All Tabs~Reload All Tabs~Reload All Tabs~~~
add targets chrome://Reports for Trello~Reports for Trello~Reports for Trello~~~
add targets chrome://Request Maker~Request Maker~Request Maker~~~
add targets chrome://Responsive Web Design Tester~Responsive Web Design Tester~Responsive Web Design Tester~~~
add targets chrome://RestEasy~RestEasy~RestEasy~~~
add targets chrome://RESTED~RESTED~RESTED~~~
add targets chrome://Restlet Client - REST API Testing~Restlet Client - REST API Testing~Restlet Client - REST API Testing~~~
add targets chrome://Reverso Translate in Context~Reverso Translate in Context~Reverso Translate in Context~~~
add targets chrome://Revolver - Tabs~Revolver - Tabs~Revolver - Tabs~~~
add targets chrome://RSS Feed Reader~RSS Feed Reader~RSS Feed Reader~~~
add targets chrome://RSS Subscription Extension (by Google)~RSS Subscription Extension (by Google)~RSS Subscription Extension (by Google)~~~
add targets chrome://Save as PDF~Save as PDF~Save as PDF~~~
add targets chrome://Save to Pocket~Save to Pocket~Save to Pocket~~~
add targets chrome://Scratch JS~Scratch JS~Scratch JS~~~
add targets chrome://Screencastify - Screen Video Recorder~Screencastify - Screen Video Recorder~Screencastify - Screen Video Recorder~~~
add targets chrome://Screengrab!~Screengrab!~Screengrab!~~~
add targets chrome://ScriptBlock~ScriptBlock~ScriptBlock~~~
add targets chrome://Search and New Tab by Yahoo~Search and New Tab by Yahoo~Search and New Tab by Yahoo~~~
add targets chrome://Search and Replace~Search and Replace~Search and Replace~~~
add targets chrome://Seavus Project Viewer Online~Seavus Project Viewer Online~Seavus Project Viewer Online~~~
add targets chrome://Selenium IDE~Selenium IDE~Selenium IDE~~~
add targets chrome://Session Buddy~Session Buddy~Session Buddy~~~
add targets chrome://Sexy Undo Close Tab~Sexy Undo Close Tab~Sexy Undo Close Tab~~~
add targets chrome://Silent Site Sound Blocker~Silent Site Sound Blocker~Silent Site Sound Blocker~~~
add targets chrome://SimilarWeb - Traffic Rank & Website Analysis~SimilarWeb - Traffic Rank & Website Analysis~SimilarWeb - Traffic Rank & Website Analysis~~~
add targets chrome://Simple Calculator~Simple Calculator~Simple Calculator~~~
add targets chrome://Simple WebSocket Client~Simple WebSocket Client~Simple WebSocket Client~~~
add targets chrome://Sky+~Sky+~Sky+~~~
add targets chrome://Slack Desktop Notifications Visibility Helper~Slack Desktop Notifications Visibility Helper~Slack Desktop Notifications Visibility Helper~~~
add targets chrome://Slinky Elegant~Slinky Elegant~Slinky Elegant~~~
add targets chrome://SmallringFX DarkOrange Theme~SmallringFX DarkOrange Theme~SmallringFX DarkOrange Theme~~~
add targets chrome://smartUp Gestures~smartUp Gestures~smartUp Gestures~~~
add targets chrome://Social Link~Social Link~Social Link~~~
add targets chrome://SourceHub~SourceHub~SourceHub~~~
add targets chrome://Spotify - Music for every moment~Spotify - Music for every moment~Spotify - Music for every moment~~~
add targets chrome://StayFocusd~StayFocusd~StayFocusd~~~
add targets chrome://Sticky Notes - Just popped up!~Sticky Notes - Just popped up!~Sticky Notes - Just popped up!~~~
add targets chrome://Stolen Camera Finder~Stolen Camera Finder~Stolen Camera Finder~~~
add targets chrome://Stylebot~Stylebot~Stylebot~~~
add targets chrome://Stylish - Custom themes for any website~Stylish - Custom themes for any website~Stylish - Custom themes for any website~~~
add targets chrome://Switcher for Lastpass~Switcher for Lastpass~Switcher for Lastpass~~~
add targets chrome://Tab Modifier~Tab Modifier~Tab Modifier~~~
add targets chrome://Tab Resize - split screen layouts~Tab Resize - split screen layouts~Tab Resize - split screen layouts~~~
add targets chrome://Tabbed Postman - REST Client~Tabbed Postman - REST Client~Tabbed Postman - REST Client~~~
add targets chrome://Table Capture~Table Capture~Table Capture~~~
add targets chrome://Take Webpage Screenshots Entirely - FireShot~Take Webpage Screenshots Entirely - FireShot~Take Webpage Screenshots Entirely - FireShot~~~
add targets chrome://Tampermonkey~Tampermonkey~Tampermonkey~~~
add targets chrome://Text Mode~Text Mode~Text Mode~~~
add targets chrome://The Camelizer~The Camelizer~The Camelizer~~~
add targets chrome://The Great Suspender~The Great Suspender~The Great Suspender~~~
add targets chrome://The Iron Throne~The Iron Throne~The Iron Throne~~~
add targets chrome://Tidy Bookmarks~Tidy Bookmarks~Tidy Bookmarks~~~
add targets chrome://TinEye Reverse Image Search~TinEye Reverse Image Search~TinEye Reverse Image Search~~~
add targets chrome://Toby for Chrome~Toby for Chrome~Toby for Chrome~~~
add targets chrome://Toby Mini~Toby Mini~Toby Mini~~~
add targets chrome://Toggl Button: Productivity & Time Tracker~Toggl Button: Productivity & Time Tracker~Toggl Button: Productivity & Time Tracker~~~
add targets chrome://uBlock Origin~uBlock Origin~uBlock Origin~~~
add targets chrome://Ultidash - New Tab~Ultidash - New Tab~Ultidash - New Tab~~~
add targets chrome://Unpaywall~Unpaywall~Unpaywall~~~
add targets chrome://URL Shortcut~URL Shortcut~URL Shortcut~~~
add targets chrome://User Agent Switcher, URL sniffer~User Agent Switcher, URL sniffer~User Agent Switcher, URL sniffer~~~
add targets chrome://User-Agent Switcher~User-Agent Switcher~User-Agent Switcher~~~
add targets chrome://User-Agent Switcher for Chrome~User-Agent Switcher for Chrome~User-Agent Switcher for Chrome~~~
add targets chrome://View Image~View Image~View Image~~~
add targets chrome://Vimium~Vimium~Vimium~~~
add targets chrome://Vue.js devtools~Vue.js devtools~Vue.js devtools~~~
add targets chrome://WAVE Evaluation Tool~WAVE Evaluation Tool~WAVE Evaluation Tool~~~
add targets chrome://Wayback Machine~Wayback Machine~Wayback Machine~~~
add targets chrome://Web Developer~Web Developer~Web Developer~~~
add targets chrome://Web Server for Chrome~Web Server for Chrome~Web Server for Chrome~~~
add targets chrome://White Minimalism [transparent]~White Minimalism [transparent]~White Minimalism [transparent]~~~
add targets chrome://Window Resizer~Window Resizer~Window Resizer~~~
add targets chrome://Wizdler~Wizdler~Wizdler~~~
add targets chrome://Xdebug helper~Xdebug helper~Xdebug helper~~~
add targets chrome://XML Editey~XML Editey~XML Editey~~~
add targets chrome://XPath Helper~XPath Helper~XPath Helper~~~
add targets chrome://XV — XML Viewer~XV — XML Viewer~XV — XML Viewer~~~
add targets chrome://Yet Another REST Client~Yet Another REST Client~Yet Another REST Client~~~
add targets chrome://z-context~z-context~z-context~~~
add targets chrome://Zoom Scheduler~Zoom Scheduler~Zoom Scheduler~~~
